.card {
  background-color: white;
  border-radius: 10px;
  padding: 16px 32px;
  gap: 12px;
  /* box-shadow: -11px 9px 5px -8px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: -11px 9px 5px -8px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: -11px 9px 5px -8px rgba(0, 0, 0, 0.11); */
}

.card__condition {
  font-size: 40px;
  user-select: none;
}

.card__temps {
  gap: 2px;
  font-size: 14px;
}

.card__date {
  font-weight: 500;
  font-size: 14px;
}

.card__max-temp {
  font-weight: 500;
}

.card__min-temp {
  color: gray;
}

.highlight-card {
  width: 280px;
  gap: 20px;
  border-radius: 20px;
  padding: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.highlight-card .card__title {
  font-size: 16px;
  font-weight: 400;
}

.highlight-card__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.highlight-card .card__value {
  font-size: 40px;
  font-weight: 600;
}

.highlight-card .card__description {
  font-size: 14px;
}

.highlight-card__icon {
  font-size: 48px;
}
