.card {
  background-color: white;
  border-radius: 12px;
  padding: 12px 28px;
  gap: 12px;
  box-shadow: -11px 9px 5px -8px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: -11px 9px 5px -8px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: -11px 9px 5px -8px rgba(0, 0, 0, 0.11);
}

.card__condition {
  font-size: 36px;
  user-select: none;
}

.card__temps {
  gap: 2px;
  font-size: 12px;
}

.card__date {
  font-weight: 500;
  font-size: 12px;
}

.card__max-temp {
  font-weight: 500;
}

.card__min-temp {
  color: gray;
}
