.home {
  min-height: 100vh;
  background-color: #e8e8e8;
}

.home__content {
  height: 100%;
}

.home__content li {
  list-style-type: none;
}

.home__content-right {
  height: 100%;
  padding: 36px 36px 36px 336px;
}

.home__forecast-header {
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__forecast-header-scale {
  display: flex;
  align-items: center;
  gap: 8px;
}

.home__forecast button {
  padding: 8px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid gray;
  border: none;
  height: 40px;
  width: 40px;
  user-select: none;
  cursor: pointer;
}

.home__forecast button.selected {
  background-color: black;
  color: white;
  outline: none;
}

.home__content h3 {
  font-size: 28px;
  font-weight: 500;
}

.home__forecast {
  width: 100%;
}

.home__forecast ul {
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 10px 4px;
}

.home__forecast ul::-webkit-scrollbar {
  display: none;
}

.home__highlights {
  padding: 40px 0 0 0;
}

.home__highlights ul {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
